.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.title {
  font-size: 2rem;
}

.main-section {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  color: #2e2e2e;
}

.section-title {
  margin-bottom: 10px;
}

.weather-info {
  font-size: 1.2rem;
}

.footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.8rem;
}

.loading,
.error {
  text-align: center;
  margin-top: 20px;
}
