@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.container {
  display: flex;
  height: 100vh;
  font-family: "Space Mono", monospace;
  color: whitesmoke;
}

.weather-section {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.section-title {
  color: whitesmoke;
  font-size: 24px;
  margin-bottom: 10px;
}

.weather-info {
  margin-top: 10px;
}

.weather-info p {
  font-size: 18px;
  margin: 5px 0;
}

