@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.weather-info {
  display: flex;
  height: 100vh;
  font-family: "Space Mono", monospace;
  color: whitesmoke;
  flex-direction: row;
  align-items: flex-start;
  justify-content:  space-evenly;
  width: 100%;
  padding: 30px;
}

.weather-info__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.weather-info__content {
  display: flex;
  flex-direction: column;
  gap:20px;
  font-size: calc(15px + 10 * (100vw / 1280));
  padding: 20px;
  background: rgba(255, 222, 222, 0.39);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  border: 1px solid rgba(255, 181, 181, 0.3);
}

.temp {
  display: flex;
  flex-direction: column;
}

.temp .feelslike-temp {
  font-size: calc(10px + 5 * (100vw / 1280));
}